myenv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints
.vs
.trunk
.mypy_cache
.idea
data/raw/creditcard.csv
data/Processed/X_test.csv
data/Processed/X_train_balanced.csv
data/Processed/y_test.csv
data/Processed/y_train_balanced.csv